<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Mobile Responsiveness-->
    <title>CripChat</title>
    <link rel="stylesheet" href="../static/css/style.css"> <!--Connect with CSS file-->
</head>

<body>
    <div class="container"> <!--main div-->

        <header class="chat-header">
            <button id="toggle-sidebar-btn">⬅️</button>

            <h3 class="setup-title">CripChat 🔐</h3>

            <button id="setup" class="setup-btn" onclick="">
                <img src="../static/assets/wrench-setupREADY.png" alt="Setup">
            </button>
        </header>

        <aside class="contacts-sidebar">
            <a href="#" class="contact">
                <span class="contact-avatar">C</span>
                <span class="contact-name">Carina</span>
            </a>

            <a href="#" class="contact">
                <span class="contact-avatar">G</span>
                <span class="contact-name">Gemini</span>
            </a>

            <a href="#" class="contact">
                <span class="contact-avatar">R</span>
                <span class="contact-name">Rafael</span>
            </a>
        </aside>

        <main class="messages-area">
            <div class="message received">Olá! Tudo bem?</div>
            <div class="message sent">Tudo ótimo, e com você?</div>
            <div class="message received">Tudo certo também.</div>
        </main>

        <footer class="message-input-area">
            <div class="functions-bar">
                <span>Anexo | Emoji | ETC</span>
            </div>
            <textarea placeholder="Digite sua mensagem..."></textarea>
        </footer>

    </div>
    <script src="../static/js/main.js" defer> </script>
</body>

</html>